@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, rgba(250, 169, 30, 0.99) 0%, rgba(250, 169, 30, 0.7) 99%, #fad0c4 100%);
  color: #585858;
}

* {
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.5px;
  font-family: "Varela Round", sans-serif;
}

h3, h6 {
  margin: 0;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
}

.mark {
  margin: 0 15px 0 0;
  display: inline-block;
  transform: translateY(3px);
}
.mark .line {
  width: 30px;
  height: 3px;
  background-color: #faa91e;
  border-radius: 3px;
  margin: 0 0 4px 0;
  border: none;
}

.resume {
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 0px;
  width: 700px;
  background-color: #eee;
  box-shadow: 10px 10px 30px rgba(88, 88, 88, 0.5);
  transform: scale(0.6);
  border-radius: 5px;
}

.top {
  height: 150px;
  border-top: 10px solid #faa91e;
  border-radius: 5px 5px 0 0;
}
.top .container_top {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
}
.top .title {
  font-size: 35px;
  letter-spacing: 4px;
  margin: 0 0 5px 0;
}
.top .sub_title {
  font-size: 15px;
  color: rgba(88, 88, 88, 0.6);
}

.bottom {
  width: 100%;
  padding: 0 0 20px 0;
}
.bottom .container_bottom {
  width: 90%;
  left: 50%;
  transform: translate(-50%);
}
.bottom .container_bottom .left {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 35%;
  margin-right: -5px;
  padding: 0 25px 0 0;
}
.bottom .container_bottom .left h3 {
  margin: 0 0 15px 0;
}
.bottom .container_bottom .left .left_content.contact {
  margin: 70px 0;
}
.bottom .container_bottom .left .left_content {
  display: flex;
}
.bottom .container_bottom .left .left_content .text {
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #585858;
}
.bottom .container_bottom .left .left_content .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bottom .container_bottom .left .left_content .icons i {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  margin: 0 13px 0 0;
  color: #faa91e;
}
.bottom .container_bottom .left .left_content .icons i ~ i {
  margin-top: 4px;
}
.bottom .container_bottom .left .left_content .inform .info_title {
  font-size: 14px;
}
.bottom .container_bottom .left .left_content .inform .info_text {
  font-size: 12px;
}
.bottom .container_bottom .left .left_content .inform .info_title ~ .info_title {
  margin: 15px 0 0 0;
}
.bottom .container_bottom .left .left_content .ex_texts .ex_text {
  font-size: 12px;
}
.bottom .container_bottom .left .left_content .ex_texts .ex_text ~ .ex_text {
  margin: 5px 0 0 0;
}
.bottom .container_bottom .right {
  display: inline-block;
  box-sizing: border-box;
  width: 65%;
  padding: 0 0 0 25px;
  border-left: 1.5px solid rgba(88, 88, 88, 0.5);
  margin: 0 0 30px 0;
}
.bottom .container_bottom .right .main_title {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1.5px solid rgba(88, 88, 88, 0.5);
}
.bottom .container_bottom .right .dot {
  font-size: 20px;
  font-family: "微軟正黑體";
  margin: 0 10px 0 0;
  transform: translateY(-6px);
}
.bottom .container_bottom .right .right_content {
  margin: 0 0 30px 0;
}
.bottom .container_bottom .right .right_content .ex_block ~ .ex_block {
  margin: 15px 0 0 0;
}
.bottom .container_bottom .right .right_content .ex_block {
  display: flex;
}
.bottom .container_bottom .right .right_content .ex_block .inform .inform_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom .container_bottom .right .right_content .ex_block .inform .inform_top .title {
  font-size: 14px;
}
.bottom .container_bottom .right .right_content .ex_block .inform .inform_top .date {
  font-size: 12px;
  background-color: rgba(250, 169, 30, 0.6);
  padding: 0 3px;
  color: #eee;
}
.bottom .container_bottom .right .right_content .ex_block .inform .inform_bottom .sub_title {
  font-size: 14px;
  margin: 3px 0;
  color: #faa91e;
}
.bottom .container_bottom .right .right_content .ex_block .inform .inform_bottom .text {
  font-size: 12px;
  line-height: 15px;
}
.bottom .container_bottom .right .right_content.edu {
  display: flex;
}
.bottom .container_bottom .right .right_content.edu .edu_block ~ .edu_block {
  margin: 0 0 0 15px;
}
.bottom .container_bottom .right .right_content.edu .edu_block {
  display: flex;
  flex-direction: row;
  width: 48%;
}
.bottom .container_bottom .right .right_content.edu .edu_block .inform .title {
  font-size: 12px;
}
.bottom .container_bottom .right .right_content.edu .edu_block .inform h6.sub_title {
  font-size: 12px;
  margin: 3px 0;
  color: #faa91e;
}
.bottom .container_bottom .right .right_content.edu .edu_block .inform .text {
  font-size: 12px;
  line-height: 15px;
}
.bottom .container_bottom .right .right_content.edu .edu_block .inform .date {
  display: inline-block;
  font-size: 12px;
  background-color: rgba(250, 169, 30, 0.4);
  padding: 0 3px;
  color: #eee;
  margin: 5px 0 0 0;
}
.bottom .container_bottom .right .right_content.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.bottom .container_bottom .right .right_content.skills .skill {
  display: flex;
}
.bottom .container_bottom .right .right_content.skills .skill .dot {
  transform: translateY(-2px);
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content h6.title {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 90px;
  height: 8px;
  background-color: rgba(250, 169, 30, 0.3);
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar {
  height: 8px;
  background-color: rgba(250, 169, 30, 0.6);
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.ps {
  width: 70px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.ai {
  width: 80px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.sk {
  width: 60px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.hc {
  width: 60px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.id {
  width: 60px;
}
.bottom .container_bottom .right .right_content.skills .skill .skill_content .skill_bar .value_bar.ae {
  width: 50px;
}
.bottom .container_bottom .right .right_content.hobby {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.bottom .container_bottom .right .right_content.hobby i {
  font-size: 40px;
}